# 3.1 - SQL en python

![python_sql](images/python_sql.png)

**Primero cargar datos...**

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [ ]:
df=pd.read_csv('../data/shoes.csv')

df.head()

In [ ]:
# seleccion de columnas

df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean']]

df.head()

In [ ]:
df=df.dropna().reset_index(drop=True)

df.head()

In [ ]:
df.info(memory_usage='deep')

In [ ]:
codigo=pd.read_csv('../data/upc_corpus.csv')

codigo.head()

In [ ]:
df.ean = codigo.ean.iloc[0:len(df)]

df.head()

In [ ]:
# un registro por talla y color

In [ ]:
df.sizes = df.sizes.apply(lambda x: x.split(','))
df.colors = df.colors.apply(lambda x: x.split(','))

In [ ]:
df.head()

In [ ]:
df = df.explode('sizes').reset_index(drop=True)

df = df.explode('colors').reset_index(drop=True)

df.head()

In [ ]:
df=df.dropna().reset_index(drop=True)

In [ ]:
df.columns = ['brand', 'color', 'size', 'price', 'image', 'ean']

df.head()

In [ ]:
df['id'] = [i for i in range(len(df))]

df.head()

In [ ]:
df.info(memory_usage='deep')

### MySQL Connector

In [ ]:
%pip install mysql-connector-python

In [ ]:
import mysql.connector as conn

In [ ]:
# conexion al servidor y crear una base de datos vacia



conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password'
                       )


cursor = conexion.cursor()


cursor

In [ ]:
cursor.execute('drop database if exists productos;')  # borra db si existe

cursor.execute('create database productos;')   # crea una db

In [ ]:
c = cursor.execute

c('create database if not exists productos;')

In [ ]:
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password',
                        database='productos'
                       )


cursor = conexion.cursor()

In [ ]:
c=cursor.execute

c

In [ ]:
c('drop table if exists zapatos;')


query ='''

create table zapatos(

        id int primary key not null,
        brand varchar(50),
        color varchar(50),
        size varchar(50),
        price float,
        image varchar(10000),
        ean varchar(50)
        
        );
'''


c(query)

In [ ]:
type(query)

In [ ]:
# check

cursor.execute('show tables;')

for e in cursor:
    print(e)

### Inserta datos

In [ ]:
# insert into tabla (col1, col2, ....) values (v1, v2, .....)


nombre_tabla = 'zapatos'

nombre_columnas = ','.join(df.columns)


# bucle por filas
for i in range(df.shape[0]):   # para cada fila..
    
    valores = tuple(df.iloc[i].values)  # ==(v1, v2, .....)
    
    insert_query = f'insert into {nombre_tabla} ({nombre_columnas}) values {valores}'
    
    cursor.execute(insert_query)

In [ ]:
insert_query

In [ ]:
# check 

cursor.execute('select * from zapatos limit 2;')

for x in cursor:
    print(x)

In [ ]:
# check 

cursor.execute('select count(*) from zapatos;')

for x in cursor:
    print(x)

### SqlAlchemy

### SQL - Pandas