### 1 - Lambdas, map, reduce y filter

In [1]:
lambda x: x+3

In [ ]:
# el return tiene que ser expresado en una sola linea

In [3]:
lambda x: 'a' if x<0 else ('b' if x==0 else ('c' if x>0 else 0))

In [4]:
lambda x: None

In [6]:
lst = [1,2,3,4,5,6,7,8,9,]

lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# map (aplicar una funcion matematica)

def multi(x):
    return x*10

list(map(multi, lst))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [13]:
list(map(lambda x: x*10, lst))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [10]:
import numpy as np

np.array(lst) * 10

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [16]:
# filtrar pares

def filt(x):
    # funcion booleana
    return x%2==0

list(filter(filt, lst))

[2, 4, 6, 8]

In [17]:
list(filter(lambda x: x%2==0, lst))

[2, 4, 6, 8]

In [18]:
from functools import reduce

In [21]:
def suma(a, b):
    return a+b


def multi(a, b):
    return a*b


def divi(a, b):
    return a/b


reduce(divi, lst)

2.7557319223985893e-06

In [26]:
reduce(lambda a,b: a*b, lst)

362880

In [27]:
sum

### 2 - Regex

In [28]:
import re

In [29]:
re.findall

In [49]:
texto = '''
El Hobbit es una novela escrita por J.R.R. Tolkien, y comienza con una famosa frase que dice:

"En un agujero en el suelo, vivía un hobbit."

Esta frase es el inicio de una maravillosa aventura que sigue la historia de Bilbo Bolsón, un hobbit que es arrastrado a una búsqueda épica para recuperar el tesoro robado por el temible dragón Smaug. A medida que la historia avanza, Bilbo se une a un grupo de enanos liderados por Thorin Escudo de Roble, y juntos emprenden un peligroso viaje hacia la Montaña Solitaria.

El Hobbit es una precuela de la trilogía de El Señor de los Anillos y es ampliamente conocido por su encanto y narrativa envolvente que ha cautivado a lectores de todas las edades desde su publicación en 1937.

09534u 904350u90542 v v 039tij02349tj03 

2eport4903 Hhobbit


yo@mail.com  +34555000999
'''

In [43]:
patron=r'[a-zA-Z0-9]+'


re.findall(patron, texto)[:10]

['El', 'Hobbit', 'es', 'una', 'novela', 'escrita', 'por', 'J', 'R', 'R']

In [47]:
patron=r'[0-9]+'   # r'\d+''


re.findall(patron, texto)[:10]

['1937',
 '09534',
 '904350',
 '90542',
 '039',
 '02349',
 '03',
 '2',
 '4903',
 '34555000999']

In [51]:
patron=r'[Hh]obbit'


re.findall(patron, texto)[:10]

['Hhobbit']

In [52]:
patron=r'[H][h]obbit'


re.findall(patron, texto)[:10]

['Hhobbit']

### 3 - Bucle Pandas

In [53]:
import pandas as pd

In [55]:
data = pd.read_csv('../data/vehicles_messy.csv', low_memory=False)

In [57]:
stats = data.describe().transpose()

stats['IQR'] = stats['75%'] - stats['25%']

stats.head()

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000

In [66]:
import warnings
warnings.filterwarnings('ignore')

outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    
    iqr = stats.at[col,'IQR']
    
    cutoff = iqr * 1.5  # proporcion del test de Tukey
    
    # umbral por abajo
    lower = stats.at[col,'25%'] - cutoff
    
    # umbral por arriba
    upper = stats.at[col,'75%'] + cutoff
    
    # filtra outliers
    results = data[(data[col] < lower) | (data[col] > upper)].copy()
    
    # añade datos a al dataframe vacio
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb,Outlier
47,32.961,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,barrels08
58,32.961,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,barrels08
69,32.961,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,barrels08
80,32.961,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,barrels08
275,32.961,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,barrels08

In [63]:
stats.at['barrels08','IQR']

6.269755434782608

In [68]:
results.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb,Outlier
23043,3.375621,0.216000,0.0,4.0,35,0.0000,95,0.0000,0.00,36.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,Y,58,62,60,phevComb
23746,3.375621,0.216000,0.0,4.0,35,34.8879,95,94.5100,0.00,36.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Fri Sep 25 00:00:00 EDT 2015,Y,58,62,60,phevComb
24703,4.744612,3.469579,0.0,1.5,51,50.5282,90,90.2714,0.35,26.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Fri Sep 25 00:00:00 EDT 2015,Y,59,56,58,phevComb
24739,6.359255,0.372000,0.0,6.0,20,19.7000,55,54.6000,0.00,61.7,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Feb 02 00:00:00 EST 2016,Y,33,34,33,phevComb
24893,3.092539,0.210000,0.0,4.0,35,34.9000,101,101.4300,0.00,33.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Fri Sep 25 00:00:00 EDT 2015,Y,63,61,62,phevComb

In [74]:
data.drop(index=outliers.index).head()  # datos sin outliers

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,25.354615,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
33,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
34,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [81]:
list(data[['barrelsA08', 'charge120']].itertuples())[0]

Pandas(Index=0, barrelsA08=0.0, charge120=0.0)

In [84]:
data[['barrelsA08', 'charge120']].loc[0]

barrelsA08    0.0
charge120     0.0
Name: 0, dtype: float64

In [96]:
data.head(inplace=True)

TypeError: head() got an unexpected keyword argument 'inplace'

### 4 - List Comprehension

In [86]:
lst = []

for i in range(10):
    
    if i%2==0:   # si es par añade letra a
        
        lst.append('a')
        
    else:
        
        lst.append(i)
        
lst

['a', 1, 'a', 3, 'a', 5, 'a', 7, 'a', 9]

In [87]:
lst = ['a' for i in range(10) if i%2==0]

lst

['a', 'a', 'a', 'a', 'a']

In [88]:
lst = ['a' if i%2==0 else i for i in range(10)]

lst

['a', 1, 'a', 3, 'a', 5, 'a', 7, 'a', 9]

In [89]:
lst = ['a' for i in range(10) if i%2==0 else i]

lst

SyntaxError: invalid syntax (1292617507.py, line 1)

In [90]:
lst = []

for i in range(10):
    
    if i%2==0:   # si es par añade letra a
        lst.append('a')
        
    elif i==7:
        lst.append('hola')
        
    else:
        lst.append(i)
        
lst

['a', 1, 'a', 3, 'a', 5, 'a', 'hola', 'a', 9]

In [92]:
lst = ['a' if i%2==0 else ('hola' if i==7 else i) for i in range(10)]

lst

['a', 1, 'a', 3, 'a', 5, 'a', 'hola', 'a', 9]